:root {
  --basic-white: #ffffff;
  --background-green: #849D8F;
  --background-gray: #8996a6;
  --background-brown: #9d8b84;
  --basic-black:  #323232;
  --extra-black: #5A5A5A;
  --extra-red: #D07058;
  --basic-background: #F8F7F4;
  --basic-red: #E84D37;
  --referense-background: rgba(255, 255, 255, 0.2);
  --slider-controls: rgba(255, 255, 255, 0.4);
  --border-white: rgba(255, 255, 255, 0.8);
  --special-hover-white: #EDEDED;
  --border-field: #D3D3D2;
  --special-red: #FFBC9E;
  --special-red-underline: rgba(255, 188, 158, 0.2);
  --special-white: #FEFEFE;
  --catalog-border: rgba(50, 50, 50, 0.2);
  --catalog-hover: #FBDED7;
  --catalog-focus: #F6B5A5;
  --shaodw-inset: #696969;
  --btn-gradient:  #F26843;
  --btn-gradient100:  #E74A35;
  --btn-shadow: rgba(172, 16, 0, 0.64);
  --slide-btn-shadow: rgba(160, 32, 11, 0.76);
  --btn-shadow-hover: #AC1000;
  --btn-shadow-focus: #942718;
  --btn-gradient-focus: rgba(0, 0, 0, 0.07);
  --wrapper-shadow: rgba(0, 0, 0, 0.4);
  --input-border: rgba(46, 136, 228, 0.52);
  --range-border: rgba(248, 247, 244, 0.5);
  --range-toggle: #ABABAB;
  --close-button: #2C2829;
  --cart-border: #CACAC7;
  --input-border: rgba(178, 178, 178, 0.52);
  --close-button: #231F20;
  --light-price: #C4C4C4;
  --modal-shadow: rgba(0, 0, 0, 0.3);
}

.page-body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  min-width: 1200px;
  background-color: var(--background-green);
  height: auto;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  background-image: radial-gradient(circle at center 400px, rgba(215, 242, 227, 0.75) 150px, transparent 500px);
  background-color: var(--background-green);
}

.site-wrapper-1 {
  background-color: var(--background-green);
  background-image: radial-gradient(circle at center 400px, rgba(215, 242, 227, 0.75) 150px, transparent 500px);
}

.site-wrapper-2 {
  background-color: var(--background-gray);
  background-image: radial-gradient(circle at center 400px, rgba(218, 228, 239, 0.75) 150px, transparent 500px);
}

.site-wrapper-3 {
  background-color: var(--background-brown);
  background-image: radial-gradient(circle at center 400px,  rgba(239, 224, 218, 0.75) 150px, transparent 500px);
}
.site-container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 20px;
}


.header-logo {
  width: 154px;
  height: 64px;
  margin-top: 9px;
}

.main-navigation {
  width: 1146px;
  display: grid;
  grid-template-columns: min-content auto auto;
  column-gap: 26px;
  color:var(--basic-white);
  position: relative;
}

.site-navigation {
  padding: 0;
  margin: 0;
  margin-top: 29px;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  display: grid;
  column-gap: 19px;
  grid-template-columns: min-content auto auto;
  justify-content: flex-start;

}
.nav-item {
  position: relative;
}
.nav-item a {
  text-decoration-color:var(--referense-background);
  text-underline-position: under;
  color:var(--basic-white);
  padding: 6px 10px;
}

.nav-item:hover .catalog-link {
  color:var(--basic-black);
  background: var(--basic-white);
  border-radius: 26px;
}

.nav-item:active .catalog-link {
  color: var(--basic-black);
  background-color: var(--special-hover-white);
  box-shadow: inset 0px 2px 1px var(--shaodw-inset);
  border-radius: 26px;
}

.wrapper {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-gap: 10px;
  margin-top: 23px;
  justify-self: end;
}

.search {
  position: relative;
  background: var(--referense-background);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search:hover {
  background-color: var(--basic-white);
}

.search:hover path {
  fill:var(--basic-black);
}


.search-icon {
  padding: 8px;
}

.search:hover .search-wrapper {
  transition: all .3s;
  display: block;
}

.search-wrapper {
  position: absolute;
  z-index: 5;
  background-color: var(--basic-background);
  width: 341px;
  height: 84px;
  right: 0;
  top: 35px;
  box-shadow: 0px 20px 20px var(--wrapper-shadow);
  border-radius: 4px;
}


.search-wrapper input {
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  width: 290px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid var(--border-field);
  margin-left: 15px;
}

.login-link {
  position: relative;
  background: var(--referense-background);
  border-radius: 20px;
  width: 92px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 16px;
  cursor: pointer;
}

.login-link span {
  font-size: 14px;
  line-height: 16px;
  color:var(--basic-white);
}

.login-link:hover .login-form-wrapper {
  transition: all .3s;
  display: block;
}

.login-link:hover {
  background-color: var(--basic-white);

}

.login-link:hover .login-item {
  color:var(--basic-black);
}

.login-link:hover path {
  fill: var(--basic-black);
  cursor: pointer;
}

.login-links {
  font-family: Roboto;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.login-links a {
  margin-bottom: 9px;
}

.login-links a:last-child {
  margin-bottom: 0px;
}

.login-links a:hover {
  color: var(--special-red);
}

.login-form-wrapper {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 35px;
  margin: 0 auto;
  width: 277px;
  background-color: var(--basic-background);
  box-shadow: 0px 20px 20px var(--wrapper-shadow);
  border-radius: 4px;
}

.login-form input {
  width: 219px;
  border: 1px solid var(--border-field);
  border-radius: 4px;
  padding: 13px 10px;
  margin-top: 20px;
  margin-left: 19px;
}

.login-form input:hover {
  border: 2px solid var(--input-border);
}

.login-link-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.login-item {
   padding-top: 2px;
   cursor: pointer;
}

.cart {
  background: var(--referense-background);
  color:var(--basic-white);
  border-radius: 20px;
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
}

.cart:hover {
  background-color: var(--basic-white);
}

.cart:hover .cart-text {
  color:var(--basic-black);
}

.cart:hover path {
  fill:var(--basic-black);
}

.cart-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color:var(--basic-white);
  margin-top: 2px;
}

.text-time {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
  align-self: flex-start;
  justify-self: flex-end;
}

.phone {
  text-decoration: none;
  color: var(--basic-white);
  font-size: 22px;
  line-height: 24px;
}

.phone-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 3 / 4;
  grid-row: 2;
  justify-self: flex-end;
  position: absolute;
}

.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: var(--basic-white);

}

.slider_list-image {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0;
  height: 647px;

}

.slider-image {
  min-width: 1146px;
  background: url("../img/Group5.png");
  background-repeat: no-repeat;
  background-position: top 10px center;


}

.slider-image-1 {
  background-image: url("../img/Group2.png");
}

.slider-image-2 {
  background-image: url("../img/Group3.png");
}

.slider-image-3 {
  background-image: url("../img/Group4.png");
}

.slide {
  display: none;

}

.slide a {
  text-decoration: none;
}

.slide-current {
  display: block;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}


.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  width: 79px;
  justify-content: space-between;
}

.slide-button {
  display: inline-block;
  vertical-align: top;
  padding: 10px 35px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px var(--slide-btn-shadow);
  cursor: pointer;
  margin-bottom: 41px;
}

.slider-controls button {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls button:hover {
  background-color: var(--slider-controls);
}

.slider-controls .current {
  background-color: var(--basic-white);
}

.container {
  position: relative;
  height: auto;
}

.feature-container {
  width: 1146px;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.features-raspberry {
  background-image: url('../img/Raspberrybackground.png');
  width: 560px;
  /* height: 229px; */
  background-position: 0 0;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.features-title {
  font-size: 35px;
  line-height: 41px;
  padding: 0;
  margin: 0;
  margin: 16px;

}

.feature-item {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  margin-left: 16px;
  margin-bottom: 42px;
}

.features-shoko {
  background-image: url('../img/shoko-background.png');
  width: 560px;
  display: flex;
  flex-direction: column;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.feature-btn {
  padding: 13px 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  align-self: flex-end;
  margin-bottom: 22px;
  margin-right: 22px;

}

.product-list {
  width: 1146px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 40px;
}

.product-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hidden {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  display: none;
  margin-bottom: 21px;
  padding: 10px 15px;
}

.hit {
  width: 61px;
  height: 61px;
  background-color: var(--basic-white);
  border-radius: 50%;
  align-self: flex-start;
}

.hit img {
  padding: 15px;
}

.price-hit {
  font-size: 45px;
  line-height: 45px;
  margin-top: 155px;
  margin-bottom: 37px;
  align-self: flex-start;
}

.price-hit p {
  margin: 0;
  padding: 0;
  display: inline-flex
}

.price-hit span {
  font-size: 30px;
  line-height: 35px;
}

.product-item {
  min-height: 317px;
  margin: 0;
  padding: 0;
  margin-right: 26px;

}

.product-item:last-child {
  margin-right: 0px;
}

.product-item:hover .hidden{
  display: block;
}

.product-item:hover .price, .price-hit{
  margin-left: 13px;
}

.product-item:hover {
  background-color: var(--referense-background);
  border-radius: 4px;
  width: 293px;
  justify-content: center;
  background-position: top 6px center;


}

.product1 {
  background-image: url(../img/hit1.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product2 {
  background-image: url(../img/hit2.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product3 {
  background-image: url(../img/hit3.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product4 {
  background-image: url(../img/hit4.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product5 {
  background-image: url(../img/hit1.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product6 {
  background-image: url(../img/hit2.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product7 {
  background-image: url(../img/hit3.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product8 {
  background-image: url(../img/hit4.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product9 {
  background-image: url(../img/icecream1.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product10 {
  background-image: url(../img/icecream2.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product11 {
  background-image: url(../img/icecream3.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product12 {
  background-image: url(../img/icecream4.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product13 {
  background-image: url(../img/icecream5.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product14 {
  background-image: url(../img/icecream6.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product15 {
  background-image: url(../img/icecream7.png);
  background-repeat: no-repeat;
  width: 267px;
}

.product16 {
  background-image: url(../img/icecream8.png);
  background-repeat: no-repeat;
  width: 267px;
}

.price {
  font-size: 45px;
  line-height: 45px;
  margin-top: 216px;
  margin-bottom: 23px;
  display: flex;
  flex-wrap: nowrap;
  justify-self: flex-start;
  align-self: flex-start;
}

.price > p {
  margin: 0;
  padding: 0;
}

.price > span {
  font-size: 30px;
  line-height: 35px;
  align-self: flex-end;
}

.product-text {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
  text-decoration: underline;
  text-decoration-color: var(--referense-background);
  text-underline-position: under;
}

.advantages-list {
  background-image: url('../img/Pattern.jpg');
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 16px;
  color: var(--basic-black);
  margin: 0 auto;
  margin-bottom: 40px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 1146px;
  box-sizing: border-box;
  padding-bottom: 2px;
}

.advantages-caption {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.advantages-item {
  margin: 0;
  padding: 0;
  padding-bottom: 33px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  width: 540px;
  display: flex;
  justify-content: space-between;
}

.advantages-item p {
  width: 485px;
  margin: 0;
  padding: 0;
  align-self: flex-start;
}

.advantages-item img {
  min-width: 49px;
  height: 49px;
  padding: 10px;
  border: 2px solid var(--basic-black);
  box-sizing: border-box;
  border-radius: 50%;
  align-self: flex-start;
}

.therm {

  padding-left: 27px;
}

.cow {
  padding-left: 26px;
}

.btn {
  background: linear-gradient(180deg, var(--btn-gradient) 0%, var(--btn-gradient100) 100%);
  box-shadow: 0px 2px 2px var(--btn-shadow);
  border-radius: 70px;
  color: var(--basic-white);
  border: none;

}

.btn:hover {
  background: linear-gradient(0deg, var(--referense-background) , var(--referense-background)), linear-gradient(180deg, var(--btn-gradient) 0%, var(--btn-gradient100) 100%);
  box-shadow: 0px 2px 2px var(--btn-shadow-hover);
}

.btn:focus {
  background: linear-gradient(0deg, var(--btn-gradient-focus), var(--btn-gradient-focus)), linear-gradient(180deg, var(--btn-gradient) 0%, var(--btn-gradient100) 100%);
  box-shadow: inset 0px 2px 2px var(--btn-shadow-focus);
}

.article-wrapper {
  width: 1146px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.reciept {
  color: var(--basic-black);
  background-image: url('../img/strawberrybackground.jpg');
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 16px;
  width: 540px;
  height: 220px;
  padding-left: 20px;
}

.reciept-title {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-top: 23px;
  margin-bottom: 5px;
}

.reciept a {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.subscrib {
  background-image: url('../img/post-background.png');
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 16px;
  color:var(--extra-black);
  width: 560px;
  height: 220px;
  display: flex;
}

.subscrib-background {
  background-color: var(--basic-background);
  width: 548px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 20px;
  border-radius: 16px;
  align-self: center;
}

.subscrib-item {
  font-weight: normal;
  padding: 0;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 47px;
}

.mail {
  padding: 12px 10px;
  border-radius: 6px;
  width: 345px;
  margin-bottom: 25px;
  border: 1px solid var(--input-border);
}

.subscrib-btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 17px;
  margin-left: 5px;
}

.maps {
  position: relative;
  background-image: url('../img/maps.jpg');
  width: 100%;
  height: 430px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 18px;
}

.pin {
  position: absolute;
  width: 80px;
  height: 140px;
  top: 23%;
  left: 26%;
}

.contacts {
  color: var(--basic-black);
  background-color: var(--special-white);
  width: 278px;
  border-radius: 16px;
  align-self: flex-start;
  position: absolute;
  padding-left: 25px;
  top: 62px;
  right: 27px;
}

.contacts-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  margin-top: 32px;
}

.contacts-item {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.datetime {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.contacts-phone {
  color:var(--basic-black);
  text-decoration: none;
}

.contacts-btn {
  padding: 10px 23px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 31px;
  cursor: pointer;
}
.socials {
display: flex;
align-items: center;
}
.social-button {
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-right: 12px;
}
.social-button:last-child {
  margin-right: 0;
}
.social-button svg:hover {
  fill-opacity: 1;
}

.footer-container {
  width: 1144px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 25px;
}

.footer-middle {
  width: 327px;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.footer-middle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 305px;
}

.footer-middle-item {
  width: 163px;
  justify-self: flex-start;
}

.copyright {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.footer-middle a:hover {
  color: var(--special-red);
  text-underline-position: under;
  text-decoration-color: var(--special-red-underline);
}

.footer-middle a:focus {
  color: var(--special-red);
  text-underline-position: under;
  text-decoration-color: var(--special-red-underline);
}

.footer-link {
  color:var(--basic-white);
  text-decoration-color: var(--referense-background);
  text-underline-position: under;
}
/* Catalog */
.catalog-site-nav {
  padding: 0;
  margin: 0;
  margin-top: 23px;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  display: grid;
  column-gap: 32px;
  grid-template-columns: min-content auto auto;
  justify-content: start;
}

.catalog-wrapper {
  width: 1146px;
  margin: 0 auto;
}

.catalog-active {
  font:inherit;
  line-height: 18px;
  padding: 8px;
  border-radius: 26px;
  color:var(--basic-white);
  text-decoration: none;
}

.catalog-active:hover {
  color: var(--basic-black);
  background-color: var(--special-hover-white);
}

.catalog-nav-item {
  align-self: center;
}

.catalog-nav-item a {
  text-decoration-color:var(--referense-background);
  text-underline-position: under;
  color:var(--basic-white);
}

.nav-item-active {
  position: relative;
  background-color: var(--extra-red);
  border-radius: 26px;
  width: 89px;
  height: 31px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.nav-item-active a {
  text-decoration: none;
  color: var(--basic-white);
  align-self: center;
}

.breadcrumbs {
  width: 224px;
  margin: 0;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 9px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-arrow {
  width: 6px;
  height: 6px;
}

.crumbs-link {
  color:var(--basic-white);
  text-decoration: none;
}

.catalog-title {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.filters {
  width: 869px;
  margin-bottom: 40px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-option-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  padding-left: 50px;
  padding-right: 19px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 711px;
  height: 36px;
  background-color: var(--referense-background);
  border-radius: 20px;
}

.filter label {
  font-size: 16px;
  line-height: 18px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}


.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}


.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid var(--border-white);
}
.filter-input-checkbox:checked + label::before {
  opacity: 0;
}
.filter-input-checkbox + label:hover::before {
  border: 2px solid var(--basic-white);
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox.svg");
  opacity: .8;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox.svg");
  opacity: 1;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-title {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}
.sort-title {
  margin-left: 7px;
}

.sort-select {
  width: 196px;
  padding: 6px 16px;
  color: var(--basic-white);
  background-color: var(--referense-background);
  background-image: url(../img/select-arrow.svg);
  background-position: right 13px top 11px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  border-radius: 20px;

}

.sort-select:hover {
  color:var(--basic-black);
  background-image: url(../img/select-arrow-hover.svg);
  background-position: right 13px top 11px;

}

.sort-item {
  color:var(--basic-black);
}
.range-controls {
  position: relative;
  height: 36px;
  box-sizing: border-box;
  background-color: var(--referense-background);
  border-radius: 20px;
  padding-top: 16px;
  padding-right: 21px;
  padding-left: 21px;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-background);
}
.range-controls .scale {
  height: 2px;
  background: var(--range-border);
}
.range-controls .toggle {
  width: 4px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  padding: 0;
  border: 8px solid var(--basic-background);
  background-color: var(--range-toggle);
  border-radius: 50%;
  cursor: pointer;
}
.toggle:hover {
  border: 10px solid var(--basic-background);
}
.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 140px;
}
.filter-price {
  width: 218px;
}
.fatgroup {
  width: 425px;
}
.fatgroup-list {
  display:flex;
  padding: 0;
  justify-content: space-between;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--referense-background);
  border-radius: 20px;
  padding: 13px 35px 12px 45px;
}
.fatgroup-list:last-child {
  padding-right: 17px;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 3px solid var(--basic-white);
  opacity: .8;
  border-radius: 50%
}

.filter-input-radio + label:hover::before{
  content: "";
  position: absolute;
  left: -30px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 3px solid var(--basic-white);
  opacity: 1;
  border-radius: 50%
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -23px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-white);
  opacity: .8;
  border-radius: 50%;
}
.filter-input-radio:checked + label:hover::after{
  content: "";
  position: absolute;
  top: px;
  left: -23px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-white);
  opacity: 1;
  border-radius: 50%;
}
.filter-button {
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  background-color: var(--referense-background);
  color:var(--basic-white);
  font-weight: 500;
  padding: 6px 20px;
  align-self: flex-end;
}
.filter-button:hover {
  color:var(--basic-black);
  background-color: var(--basic-white);
}
.filter-button:active {
  color:var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: inset 0px 2px 1px var(--shaodw-inset);
}

.pagination {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 48px;
}
.pagination-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  display: flex;
}
.pagination-item {
  color:var(--basic-white);
  text-decoration: none;
  margin-right: 10px;
  border-radius: 50%;
  padding: 10px 15px;
  height: 26px;
  cursor: pointer;
}
.current {
  color:var(--basic-black);
  background-color: var(--basic-white);
}
.pagination-item:active {
  color:var(--basic-black);
  background-color: var(--basic-white);
}
.pagination-item:hover {
  color: var(--basic-white);
  background-color: var(--referense-background);
}
.pagination-item:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.pagination-item path:hover{
  fill: var(--basic-black);
}
.pagination-item:focus path{
  fill: var(--basic-black);
}
.pagination-item:active path {
  fill: var(--basic-black);
}
.pagination-disabled svg {
  transform: rotate(-180deg);
  fill: var(--referense-background)
}
/* Login form */

.login-btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  width: 103px;
  padding: 15px 10px;
  margin-top: 20px;
  margin-left: 19px;
  margin-bottom: 22px;
}

.restore,
.new-register {
  color: var(--basic-black);
}
.link-wrapper {
  display:flex;
  align-items: center;
}


.cart-wrapper {
  position: absolute;
  font-family: Roboto;
  margin: 0 auto;
  width: 539px;
  top: 35px;
  right: 0px;
  z-index: 7;
  background-color: var(--basic-background);
  box-shadow: 0px 20px 20px var(--wrapper-shadow);
  border-radius: 4px;
  cursor: default;
  display: none;
}
.cart-product-container {
  display:flex;
  /* justify-content: space-evenly; */
  padding-top: 22px;
  align-items: center;
}
.cart-product-image {
  background-image: url("../img/hit1.png");
  background-size: contain;
  width: 33px;
  height: 33px;
  margin-right: 13px;
  }

.cart-product-image2 {
  background-image: url("../img/hit3.png");
  background-size: contain;
  width: 33px;
  height: 33px;
  margin-right: 13px;
}
.cart-product-text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-black);
  margin-right: 31px;
}
.cart-price {
  margin-right: 26px;
  font-size: 13px;
  line-height: 16px;
}
.total-price {
  font-size: 13px;
  line-height: 16px;
}
.cart-product-border {
  width: 95%;
  border-bottom: 1px solid var(--cart-border);
  margin-top: 18px;

}
.light-price {
  color: var(--light-price);
}
.price-container {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  margin-right: 29px;
}
.cart-close {
  position: relative;
  padding: 0;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-left: 21px;
  margin-right: 9px;
}
.cart-close::before,
.cart-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 15px;
  height: 1px;
  background-color: var(--close-button);
}
.cart-close::before {
  transform: rotate(45deg);
}

.cart-close::after {
  transform: rotate(-45deg);
}
.cart-btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  padding: 15px 10px;
  cursor: pointer;
}
.final-price {
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  align-self: flex-end;
  margin-bottom: 18px;
}
.cart-button {
  align-self: flex-end;
  margin-bottom: 19px;

}

.catalog-list-wrapper {
  width: 143px;
  box-sizing: border-box;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 20px var(--wrapper-shadow);
  border-radius: 4px;
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 0px;
  display: none;
}
.catalog-link:hover .catalog-list-wrapper {
  transition: all .3s;
  display: block;
}
.nav-item-active:hover .catalog-list-wrapper {
  transition: all .3s;
  display: block;
  top: 35px;

}

.catalog-list {
  color: var(--basic-black);
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.catalog-page-list:hover .catalog-list-wrapper {
  transition: all .3s;
  opacity: 1;
  display: block;
}
.catalog-title-new {
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 18px;
  margin-left: 21px;
  padding-top: 13px;
  margin-bottom: 15px;
}
.catalog-item {
  font-weight: normal;
  padding-left: 21px;
  padding-top: 5px;
  padding-bottom: 6px;
  cursor: pointer;
}
.catalog-item:last-child {
  margin-bottom: 5px;
}
.catalog-item a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--basic-black);
}
.catalog-item:hover {
  background-color: var(--catalog-hover);
}

.catalog-item:active {
  background-color: var(--catalog-focus);
}
.catalog-item-current {
  background-color: var(--extra-red);
}
.catalog-item-current a {
  color:var(--basic-white);
}
.catalog-border {
  border: 1px solid var(--catalog-border);
  margin-left: 6px;
  margin-right: 9px;
}
.feedback {
  position:fixed;
  font-size: 24px;
  line-height: 28px;
  background-color: var(--basic-background);
  border-radius: 6px;
  color: var(--basic-black);
  left: 40%;
  top: 50%;
  width: 477px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 8;
  box-sizing: border-box;
  box-shadow: 0 0 0 1400px var(--modal-shadow);
}
.feedback-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  margin-top: 19px;
  margin-left: 18px;
  margin-bottom: 26px;
}
.feedback-form {
  margin-left: 19px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}
.feedback input {
  margin-bottom: 20px;
  padding: 10px;
  width: 267px;
}
.feedback-form textarea {
  margin-bottom: 25px;
  padding: 10px;
  resize: none;
  margin-right: 29px;
}
.feedback-form input,
.feedback-form textarea {
  border: 1px solid var(--input-border);
  border-radius: 4px;
}
.feedback-form input:focus
.feedback-form textarea:focus {
  border: none;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  font-weight: bold;
  color: var(--basic-black);
}
.feedback-wrapper {
  background: var(--modal-shadow);
}
.feedback-btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 28px;
  padding: 10px 20px;
  align-self: flex-end;
  justify-self: flex-end;
  margin-right: 29px;
}
.close {
  position: absolute;
  padding: 0;
  top: 14px;
  right: 21px;
  width: 18px;
  height: 17px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.close::before,
.close::after {
  content: "";
  position: absolute;
  top: 7.5px;
  right: 0px;
  width: 17px;
  height: 2px;
  background-color: var(--close-button);
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}



.active-cart {
  position: relative;
  width: 118px;
  background: var(--basic-white);
  color: var(--basic-black);
  border-radius: 20px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  cursor: pointer;
}

.active-cart-text {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-top: 2px;
}

.active-cart:hover .cart-wrapper {
  transition: all .3s;
  display: block;
}
.modal-hidden {
  display: none;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-animation {
  animation: bounce 0.6s;
}


@keyframes bounce {
  0% {
    transform: translateY(-100px);
  }

  70% {
    transform: translateY(-500px);
  }

  90% {
    transform: translateY(-500px);
  }

  100% {
    transform: translateY(-500px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
