:root {
  --basic-white: #ffffff;
  --background-green: #849D8F;
  --background-gray: #8996a6;
  --background-brown: #9d8b84;
  --basic-black:  #323232;
  --extra-black: #5A5A5A;
  --extra-red: #D07058;
  --basic-background: #F8F7F4;
  --basic-red: #E84D37;
  --referense-background: rgba(255, 255, 255, 0.2);
  --border-white: rgba(255, 255, 255, 0.8);
  --special-hover-white: #EDEDED;
  --border-field: #D3D3D2;
  --special-red: #FFBC9E;
  --special-white: #FEFEFE;
  --catalog-border: rgba(50, 50, 50, 0.2);
  --catalog-hover: #FBDED7;
  --catalog-focus: #F6B5A5;
  --shaodw-inset: #696969;
  --btn-gradient:  #F26843;
  --btn-gradient100:  #E74A35;
  --btn-shadow: rgba(172, 16, 0, 0.64);
  --btn-shadow-hover: #AC1000;
  --btn-shadow-focus: #942718;
  --btn-gradient-focus: rgba(0, 0, 0, 0.07);
  --wrapper-shadow: rgba(0, 0, 0, 0.4);
  --input-border: rgba(46, 136, 228, 0.52);
  --range-border: rgba(248, 247, 244, 0.5);
  --range-toggle: #ABABAB;
  --close-button: #2C2829;
  --cart-border: #CACAC7;
}

.page-body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    min-width: 1200;
    background-color: var(--background-green);
    height: auto;
    margin: 0;
    padding: 0;
    color: var(--basic-white);
}

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.site-wrapper {
  background-image: radial-gradient(rgba(215, 242, 227, 0.75), transparent);
  height: 700px;
}
/*
.site-wrapper {
  min-width: 1146px;
  background-color: var(--background-green);
  background-image: url("../img/Group5.png");
  background-repeat: no-repeat;
  background-position: top center;

}

.site-wrapper-1 {
  background-color: var(--background-green);
  background-image: url("../img/Group2.png");
}

.site-wrapper-2 {
  background-color: var(--background-gray);
  background-image: url("../img/Group3.png");
}

.site-wrapper-3 {
  background-color: var(--background-brown);
  background-image: url("../img/Group4.png");
} */
.site-container {

  width: 1146px;
  margin: 0 auto;
  padding: 0 20px;
}


.header-logo {
  width: 154px;
  height: 64px;
  margin-top: 9px;
}
.main-navigation {
  width: 1146px;
  display: grid;
  grid-template-columns: min-content auto auto;
  column-gap: 26px;
  color:var(--basic-white);
  position: relative;
}
.site-navigation {
  padding: 0;
  margin: 0;
  margin-top: 32px;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  display: grid;
  column-gap: 32px;
  grid-template-columns: min-content auto auto;
  justify-content: start;

}

.nav-item a {
  text-decoration-color:var(--referense-background);
  color:var(--basic-white);
}

.nav-item a:hover {
  color:var(--basic-black);
  background: var(--basic-white);
  border-radius: 26px;
}
.nav-item a:active {
  color: var(--basic-black);
  background-color: var(--special-hover-white);
  box-shadow: inset 0px 2px 1px var(--shaodw-inset);
  border-radius: 26px;
}
.wrapper {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-gap: 10px;
  margin-top: 23px;
  justify-self: end;
}

.search {
  position: relative;
  background: var(--referense-background);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search:hover {
  background-color: var(--basic-white);
}
.search:hover path {
  fill:var(--basic-black);
}

.search:hover .search-wrapper {
  display: block;
}
.search-icon {
  padding: 8px;
}

.login-link {
  background: var(--referense-background);
  border-radius: 20px;
  width: 92px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 16px;
}
.login-link a {
  font-size: 14px;
  line-height: 16px;
  color:var(--basic-white);
  text-decoration: none;
}

.login-link:hover {
  background-color: var(--basic-white);
}
.login-link:hover .login-item {
  color:var(--basic-black);
}
.login-link:hover path {
  fill: var(--basic-black);
  cursor: pointer;
}
.login-item {
   padding-top: 2px;
}
.cart {
  background: var(--referense-background);
  color:var(--basic-white);
  border-radius: 20px;
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
}
.cart:hover {
  background-color: var(--basic-white);
}
.cart:hover .cart-text {
  color:var(--basic-black);
}
.cart:hover path {
  fill:var(--basic-black);
}
.cart-text {
  font-size: 14px;
  line-height: 16px;
  color:var(--basic-white);
  text-decoration: none;
}
.text-time {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
  align-self: flex-start;
  justify-self: flex-end;
}

.phone {
  text-decoration: none;
  color: var(--basic-white);
  font-size: 22px;
  line-height: 24px;
}
.phone-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 3 / 4;
  grid-row: 2;
  justify-self: flex-end;
  position: absolute;
}

.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: var(--basic-white);
}

.slider_list-image {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0;
  height: 647px;

}

.slider-image {
  min-width: 1146px;
  background: radial-gradient(rgba(215, 242, 227, 0.75), transparent) url("../img/Group5.png");
  background-repeat: no-repeat;
  background-position: top center;


}

.slider-image-1 {
  background-color: var(--background-green);
  background-image: url("../img/Group2.png");
}

.slider-image-2 {
  background-color: var(--background-gray);
  background-image: url("../img/Group3.png");
}

.slider-image-3 {
  background-color: var(--background-brown);
  background-image: url("../img/Group4.png");
}

.slide {
  display: none;

}
.slide a {
  text-decoration: none;
}
.slide-current {
  display: block;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  width: 79px;
  justify-content: space-between;
}
.slide-button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  cursor: pointer;
  margin-bottom: 41px;
}

.slider-controls button {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls .current {
  background-color: var(--basic-white);
}
.container {
  position: relative;
}
.feature-container {
  width: 1146px;
  margin: 0 auto;
  height: 229px;
  display:flex;
  justify-content: space-between;
}
.features-raspberry {
  background-image: url('../img/Raspberrybackground.png');
  width: 560px;
  height: 229px;
  background-position: 0 0;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
}
.feature-item {
  margin: 0;
  padding: 0;
}

.features-shoko {
  background-image: url('../img/shoko-background.png');
  width: 560px;
  height: 229px;
  background-position: 0 0;
  background-repeat: repeat;
}
.feature-btn {
  width: 164px;
  height: 46px;

}
.product-list {
  width: 1146px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-top: 40px;
}
.hidden {
  visibility: hidden;
}
.hit {
  width: 61px;
  height: 61px;
  background-color: var(--basic-white);
  border-radius: 50%;
}
.hit img {
  padding: 15px;
}
.price-hit {
  font-size: 45px;
  line-height: 45px;
  margin-top: 155px;
  margin-bottom: 37px;
}
.price-hit p {
  margin: 0;
  padding: 0;
  display: inline-flex
}
.price-hit span {
  font-size: 30px;
  line-height: 35px;
}
.product-item {
  min-height: 317px;
}
.product-item:hover .hidden{
  visibility: visible;
}

.product-item:hover {
  background-color: var(--referense-background);
  border-radius: 4px;
}

.product1 {
  background-image: url(../img/hit1.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product2 {
  background-image: url(../img/hit2.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product3 {
  background-image: url(../img/hit3.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product4 {
  background-image: url(../img/hit4.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product5 {
  background-image: url(../img/hit1.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product6 {
  background-image: url(../img/hit2.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product7 {
  background-image: url(../img/hit3.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product8 {
  background-image: url(../img/hit4.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product9 {
  background-image: url(../img/icecream1.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product10 {
  background-image: url(../img/icecream2.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product11 {
  background-image: url(../img/icecream3.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product12 {
  background-image: url(../img/icecream4.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product13 {
  background-image: url(../img/icecream5.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product14 {
  background-image: url(../img/icecream6.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product15 {
  background-image: url(../img/icecream7.png);
  background-repeat: no-repeat;
  width: 267px;
}
.product16 {
  background-image: url(../img/icecream8.png);
  background-repeat: no-repeat;
  width: 267px;
}
.price {
  font-size: 45px;
  line-height: 45px;
  margin-top: 216px;
  margin-bottom: 23px;
  display: flex;
  flex-wrap: nowrap;
}
.price > p {
  margin: 0;
  padding: 0;
}
.price > span {
  font-size: 30px;
  line-height: 35px;
  align-self: flex-end;
}
.product-text {
  text-align: center;
  margin: 0;
  padding: 0;
}
.advantages-list {
  background-image: url('../img/Pattern.jpg');
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 16px;
  color: var(--basic-black);
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1146px;
  height: 306px;
}
.advantages-caption {
  margin: 0;
  padding: 0;
  height: 60px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.advantages-item {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  width: 540px;
  height: 69px;
  display: flex;
  justify-content: space-between;
}
.advantages-item p {
  width: 485px;
  height: 59px;
  margin: 0;
  padding: 0;
  align-self: flex-end;
}
.advantages-item img {
  min-width: 49px;
  height: 49px;
  padding: 10px;
  border: 2px solid var(--basic-black);
  box-sizing: border-box;
  border-radius: 50%;
  align-self: flex-start;
}

.btn {
  background: linear-gradient(180deg, var(--btn-gradient) 0%, var(--btn-gradient100) 100%);
  box-shadow: 0px 2px 2px var(--btn-shadow);
  border-radius: 70px;
  color: var(--basic-white);
  border: none;

}
.btn:hover {
  background: linear-gradient(0deg, var(--referense-background) , var(--referense-background)), linear-gradient(180deg, var(--btn-gradient) 0%, var(--btn-gradient100) 100%);
  box-shadow: 0px 2px 2px var(--btn-shadow-hover);
}
.btn:focus {
  background: linear-gradient(0deg, var(--btn-gradient-focus), var(--btn-gradient-focus)), linear-gradient(180deg, var(--btn-gradient) 0%, var(--btn-gradient100) 100%);
  box-shadow: inset 0px 2px 2px var(--btn-shadow-focus);
}

.contacts {
  color: var(--basic-black);
  background-color: var(--special-white);
  width: 303px;
  height:306px;
  border-radius: 16px;
}
.contacts-phone {
  color:var(--basic-black);
  text-decoration: none;
}

.article-wrapper {
  width: 1146px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}
.reciept {
  color: var(--basic-black);
  background-image: url('../img/strawberrybackground.jpg');
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 16px;
  width: 560px;
  height: 220px;
}

.reciept a {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

.subscrib {
  background-image: url('../img/post-background.png');
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 16px;
  color:var(--extra-black);
  width: 560px;
  height: 220px;
  display: flex;
}
.subscrib-background {
  background-color: var(--basic-background);
  width: 548px;
  height: 210px;
  margin: 0 auto;
  border-radius: 16px;
  align-self: center;
}
.maps {
  background-image: url('../img/maps.jpg');
  min-width: 1200px;
  height: 430px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-evenly;
}

.contacts {
  align-self: center;
}
.modal-feedback {
  font-size: 24px;
  line-height: 28px;
  background-color: var(--basic-background);
  border-radius: 6px;
  color: var(--basic-black);
  width: 477px;
  height: 441px;
}

.social-button svg:hover {
  fill-opacity: 1;
}

.footer-container {
  width: 1144px;
  height: 60px;
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.footer-middle {
  width: 327px;
  height: 37px;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.footer-middle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 305px;
}
.footer-middle-item {
  width: 163px;
  justify-self: flex-start;
}
.copyright {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}
.footer-middle a:hover {
  color: var(--special-red);
}
.footer-middle a:focus {
  color: var(--special-red);
}
.footer-link {
  color:var(--basic-white);
  text-decoration: none;
}
/* Catalog */
.catalog-site-nav {
  padding: 0;
  margin: 0;
  margin-top: 23px;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  display: grid;
  column-gap: 32px;
  grid-template-columns: min-content auto auto;
  justify-content: start;
}

.catalog-wrapper {
  width: 1146px;
  margin: 0 auto;
}

.catalog-active {
  font:inherit;
  line-height: 18px;
  padding: 8px;
  border-radius: 26px;
  color:var(--basic-white);
  text-decoration: none;
}
.catalog-active:hover {
  color: var(--basic-black);
  background-color: var(--special-hover-white);
}
.catalog-nav-item {
  align-self: center;
}
.catalog-nav-item a {
  text-decoration-color:var(--referense-background);
  color:var(--basic-white);
}

.catalog-nav-item a:hover {
  color:var(--basic-black);
  background: var(--basic-white);
  border-radius: 26px;
}
.catalog-nav-item a:active {
  color: var(--basic-black);
  background-color: var(--special-hover-white);
  box-shadow: inset 0px 2px 1px var(--shaodw-inset);
  border-radius: 26px;
}
.nav-item-active {
  background-color: var(--extra-red);
  border-radius: 26px;
  width: 89px;
  height: 31px;
  display: flex;
  justify-content: center;
}

.nav-item-active a {
  text-decoration: none;
  color: var(--basic-white);
  align-self: center;
}

.catalog-list-wrapper {
  width: 143px;
  height: 171px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 20px var(--wrapper-shadow);
  border-radius: 4px;
  /* display: none; */
}
.catalog-list {
  color: var(--basic-black);
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  width: 224px;
  margin: 0;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 9px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
}
.breadcrumbs-arrow {
  width: 6px;
  height: 6px;
}
.crumbs-link {
  color:var(--basic-white);
  text-decoration: none;
}

.catalog-title {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}
.filters {
  width: 869px;
  display: flex;
  flex-wrap: wrap;
}
.filter-option-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  padding-left: 50px;
  padding-right: 19px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 711px;
  height: 36px;
  background-color: var(--referense-background);
  border-radius: 20px;
}
.filter label {
  font-size: 16px;
  line-height: 18px;
}
.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}


.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}


.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid var(--border-white);
}
.filter-option  label::before:hover {
  border-color: red;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-title {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}
.sort-title {
  margin-left: 7px;
}

.sort-select {
  width: 196px;
  color: var(--basic-white);
  background-color: var(--referense-background);
  border-radius: 20px;
  padding: 6px 2px;
}

.sort-select:hover {
  color:var(--basic-black);
}
.sort-item {
  color:var(--basic-black);
}
.range-controls {
  position: relative;
  height: 36px;
  box-sizing: border-box;
  background-color: var(--referense-background);
  border-radius: 20px;
  padding-top: 16px;
  padding-right: 21px;
  padding-left: 21px;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-background);
}
.range-controls .scale {
  height: 2px;
  background: var(--range-border);
}
.range-controls .toggle {
  width: 4px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  padding: 0;
  border: 8px solid var(--basic-background);
  background-color: var(--range-toggle);
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 140px;
}
.filter-price {
  width: 218px;
}
.fatgroup {
  width: 425px;
}
.fatgroup-list {
  display:flex;
  padding: 0;
  justify-content: space-between;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--referense-background);
  border-radius: 20px;
  padding: 13px 35px 12px 45px;
}
.fatgroup-list:last-child {
  padding-right: 17px;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 3px solid var(--border-white);
  border-radius: 50%
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -23px;
  width: 8px;
  height: 8px;
  background-color: var(--border-white);
  border-radius: 50%;
}
.filter-button {
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  background-color: var(--referense-background);
  color:var(--basic-white);
  font-weight: 500;
  padding: 6px;
  align-self: center;
}
.filter-button:hover {
  color:var(--basic-black);
  background-color: var(--basic-white);
}
.filter-button:active {
  color:var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: inset 0px 2px 1px var(--shaodw-inset);
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  width: 100%
}
.pagination-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  display: flex;
}
.pagination-item {
  color:var(--basic-white);
  text-decoration: none;
  margin-right: 10px;
  border-radius: 50%;
  padding: 10px 15px;
  height: 26px;
}
.pagination-item:active {
  color:var(--basic-black);
  background-color: var(--basic-white);
}
.pagination-item:hover {
  color: var(--basic-white);
  background-color: var(--referense-background);
}
.pagination-item:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Login form */
.login-form-wrapper {
  margin: 0 auto;
  width: 277px;
  background-color: var(--basic-background);
  box-shadow: 0px 20px 20px var(--wrapper-shadow);
  border-radius: 4px;
  display: none;
}

.login-btn {
  width: 103px;
  padding: 15px 10px;
  margin-top: 20px;
  margin-left: 19px;
}

.restore,
.new-register {
  color: var(--basic-black);
}


.login-form input {
  width: 219px;
  border: 1px solid var(--border-field);
  border-radius: 4px;
  padding: 13px 10px;
  margin-top: 20px;
  margin-left: 19px;
}
.login-form input:last-child {
  margin: 0;
}
.login-form input:hover {
  border: 2px solid var(--input-border);
}
.login-link-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.search:hover .search-wrapper {
  transition: all .3s;
  opacity: 1;
  visibility: visible;
}
.search-wrapper {
  position: absolute;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  /* display: none; */
  background-color: var(--basic-background);
  width: 341px;
  height: 84px;
  right: 0;
  top: 50px;
  box-shadow: 0px 20px 20px var(--wrapper-shadow);
  border-radius: 4px;

}
.search-wrapper input {
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid var(--border-field);
}
.cart-wrapper {
  position: fixed;
  margin: 0 auto;
  width: 539px;
  background-color: var(--basic-background);
  box-shadow: 0px 20px 20px var(--wrapper-shadow);
  border-radius: 4px;
}
.cart-product-container {
  display:flex;
  justify-content: center;
  padding-top: 22px;
}
.cart-product-image {
  background-image: url("../img/hit1.png");
  background-size: contain;
  width: 33px;
  height: 33px;
  object-fit: contain;
  }

.cart-product-image2 {
  background-image: url("../img/hit3.png");
  background-size: contain;
  width: 33px;
  height: 33px;
}
.cart-product-text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-black);
}

.cart-product-border {
  width: 100%;
  border-bottom: 1px solid var(--cart-border) ;
}
.buy-price {
  display: flex;
  justify-content: flex-end;
}
.cart-close {
  position: relative;
  padding: 0;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.cart-close::before,
.cart-close::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 2px;
  background-color: #2C2829;
}
.cart-close::before {
  transform: rotate(45deg);
}

.cart-close::after {
  transform: rotate(-45deg);
}
